<div class="form-body">
<form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="login-full-width" appearance="fill">
        <label for="name" >Name</label>
        <input type="text" id="name" ngModel name="name" required >
    </div>

    <div mat-form-field class="login-full-width"  appearance="fill">
        <label mat-label for="email" >Email</label>
        <input matInput type="text" id="email" ngModel name="email" required>
    </div>

    <div class="login-full-width" appearance="fill">
        <label for="password" >Password</label>
        <input type="password" ngModel id="password" name="password" required minlength="8" maxlength="16" pattern="^[0-9a-zA-Z]+$">
    </div>
    
    <div class="login-full-width" appearance="fill">
        <button mat-button color="primary" [disabled]="!loginForm.valid" type="submit">Submit</button>
    </div>
</form>
    
</div>