*{
    margin:0px;
    paddding:0px;
    box-sizing:border-box
}

.toolbar{
    display:flex;
    justify-content:space-around;
    border:2px solid;
    box-shadow: 5px 10px #888888;
    text-align: centre;
}

.toolbar > div{
    margin:20px;
    font-size:20px;
    font-weight:600px;
}