.textCenter{
    justify-content:center;
    text-align:center;
    margin-top: 40px;
    font-size: 20px
}

.movieForm{
    justify-content:center;
    text-align:center;
}
.movieForm > div{
    text-align:center;
    margin:0px;
    margin-top:20px;
    display:flex;
    justify-content:center;
    text-align:center;
    font-size: 20px
}
.card-mat0{
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) { 
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {    
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    .card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }
}
@media only screen and (min-width: 1400px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }
}